@import 'ember-paper';

.app-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.toolbar-avatar {
  border-radius: 50%;
  max-width: 40px;
  height: auto;
  margin: 0 10px;
}
