{{#paper-sidenav class="md-sidenav-left" locked-open="gt-sm"}}
  {{#paper-toolbar}}
    <div class="md-toolbar-tools">
      <div class="logo">
        <strong>Task Lists</strong>
      </div>
    </div>
  {{/paper-toolbar}}
{{/paper-sidenav}}

<div layout="column" tabindex="-1" role="main" class="flex layout-column">
  {{paper-toolbar}}

  {{#paper-content class="md-padding"}}
    {{gapi-auth}}
  {{/paper-content}}
</div>